* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    text-rendering: optimizeLegibility;
    height: 100%;
}

#root {
    height: 100%;
}

.fullWidth {
    height: 100%;
}